[tool.black]
target-version = ["py310"]

[tool.mypy]
plugins = [
  "pydantic.mypy"
]
# Required for open telemetry
namespace_packages = true

# follow_imports = "silent"
# warn_redundant_casts = true
# warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
# no_implicit_reexport = true
# for strict mypy: (this is the tricky one :-))
# disallow_untyped_defs = true

[tool.mypy-pydantic]
# init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true
